* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    /* Footer height */
    padding-bottom: 60px;
    padding-top: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Footer height */
    line-height: 60px;
    background-color: rgba(0, 0, 0, 90%);
}

#footer-content {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#heart-emoji {
    color: red;
}

#github-link {
    color: gray;
    text-decoration: none;
}

#github-link:hover {
    color: white;
    text-decoration: underline;
}

#app {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: white;
}

.title {
    text-align: center;
}

input[type="number"] {
    width: 100%;
    text-indent: 5px;
    height: 30px;
}

input[type="number"] {
    border: 1px solid grey;
    border-radius: 3px;
}

input[type="number"]:hover {
    border-color: black;
}

input[type="number"]:focus {
    border-color: blue;
}

select {
    border: 1px solid grey;
    border-radius: 3px;
    width: 100%;
    height: 35px;
}

select:hover {
    border-color: black;
}

select:focus {
    border-color: blue;
}

input[type="button"] {
    /*  padding: 5px 15px 5px 15px; */
    color: white;
    background-color: blue;
    cursor: pointer;
    border-radius: 3px;
}

input[type="button"]:hover {
    opacity: 0.8;
}

label {
    color: blue;
    word-wrap: break-word;
}

.label-result {
    color: blue;
}

.row {
    overflow: hidden;
    padding-bottom: 10px;
}

#resul-container {
    display: none;
    overflow: hidden;
}

#label-result {
    text-align: right;
}

.col-windchill {
    width: auto;
    float: left;
}

@media screen and (max-width: 700px) {
    /*   Mobile  */
    #app {
        width: 95%;
    }
    input[type="number"] {
        height: 40px;
    }
    input[type="button"] {
        width: 100%;
        height: 45px;
    }
    .col-25,
    .col-75 {
        width: 100%;
        display: block;
    }
}

@media screen and (min-width: 700px) {
    /* Desktop */
    #app {
        width: 500px;
    }
    .col-25,
    .col-75 {
        float: left;
    }
    .col-25 {
        width: 30%;
    }
    .col-75 {
        width: 70%;
    }
    .col-25 label {
        text-align: right;
        display: block;
        padding-right: 5px;
    }
    input[type="button"] {
        width: auto;
        float: right;
        padding: 5px 15px 5px 15px;
    }
    input[type="number"] {
        width: 100%;
    }
}


/* Hide arrows from input Number */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}